
  .profile-picture {
    width: 50%;
    height: auto;
    border-radius: 50px;
    float: auto;
    margin-left: 25%;
  }

  body {
   background: linear-gradient(to bottom,#ff99ff 0%, #99ccff 100%)
  }

a {
    color: 0000ff;
    text-decoration: none;
}

 .women-in-tech {
    width: 50%;
    height: auto;
    border-radius: 50px;
    float: auto;
  }
